
#Label1 {
  position: absolute;
  top: 15.5vh;
  /* Adjust based on your layout */
  left: 17vw;
  /* Adjust based on your layout */
  background-color: black;
  color: white;
  width: 6vw;
  height: 3vh;
}


#Label2 {
  position: absolute;
  top: 16vh;
  /* Adjust based on your layout */
  right: 6vw;
  /* Adjust based on your layout */
  background-color: black;
  color: white;
  width: 5vw;
  /* Adjust based on your layout */
  height: 3vh;
}


#countdown {
  position: absolute;
  top: 35vh;
  /* Adjust based on your layout */
  left: 14.7vw;
  /* Adjust based on your layout */
  background-color: black;
  color: white;
  width: 5vw;
  /* Adjust width as needed */
  height: 3vh;
  /* Adjust height as needed */

}





#Label4 {
  position: absolute;
  top: 35.5vh;
  /* Adjust based on your layout */
  right: 4.5vw;
  /* Adjust based on your layout */
  background-color: black;
  color: white;
  width: 16vw;
  /* Adjust based on your layout */
  height: 3vh;
}

#Label5 {
  position: absolute;
  top: 47vh;
  /* Adjust based on your layout */
  right: 15vw;
  /* Adjust based on your layout */
  background-color: black;
  color: white;
  height: 2vh;
  width: 5vw;
  /* Adjust based on your layout */
}

#Label6 {
  position: absolute;
  top: 47vh;
  /* Adjust based on your layout */
  right: 3.8vw;
  /* Adjust based on your layout */
  background-color: black;
  color: white;
  height: 2vh;
  width: 6.5vw;
  /* Adjust based on your layout */
}

#Label7 {
  position: absolute;
  top: 51.5vh;
  /* Adjust based on your layout */
  right: 6vw;
  /* Adjust based on your layout */
  background-color: black;
  color: white;
  height: 2vh;
  width: 11.5vw;
  /* Adjust based on your layout */
}

#Label8 {
  position: absolute;
  top: 97vh;
  /* Adjust based on your layout */
  right: 4vw;
  /* Adjust based on your layout */
  background-color: black;
  color: white;
  height: 2vh;
  width: 6vw;
  /* Adjust based on your layout */
}

#Label9 {
  position: absolute;
  top: 97.3vh;
  /* Adjust based on your layout */
  left: 5vw;
  /* Adjust based on your layout */
  background-color: black;
  color: white;
  height: 2vh;
  width: 6.1vw;
  /* Adjust based on your layout */
}

#Label10 {
  position: absolute;
  top: 95vh;
  /* Adjust based on your layout */
  left: 43.5vw;
  /* Adjust based on your layout */
  background-color: black;
  color: white;
  padding: 2px 4px;
  /* Adjust padding as needed */
  border-radius: 5px;
  height: 3vh;
  /* Optional: Adds rounded corners */
  width: 14.3vw;
  /* Adjust based on your layout */
}


#ImageButton1 {
  position: absolute;
  top: 41vh;
  left: -0.30vw;
  width: 7.5vw;
  /* Adjust this percentage as needed */
  height: 7.6vh;
  border-radius: 70%;
  /* Make the button circular */
  transition: transform 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  /* Include border-color in the transition */

}

#ImageButton1:hover {
  transform: scale(1.1);
  /* Increase size on hover */
  box-shadow: 0 0 30px 10px green;
  /* Dark green glow effect */

}

#ImageButton2 {
  position: absolute;
  top: 41vh;
  left: 7.1vw;
  width: 7vw;
  /* Adjust this percentage as needed */
  height: 7vh;
  border-radius: 70%;
  /* Make the button circular */
  transition: transform 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  /* Include border-color in the transition */

}

#ImageButton2:hover {
  transform: scale(1.1);
  /* Increase size on hover */
  box-shadow: 0 0 30px 10px green;
  /* Dark green glow effect */
}

#ImageButton3 {
  position: absolute;
  top: 41vh;
  left: 14vw;
  width: 7vw;
  /* Adjust this percentage as needed */
  height: 7vh;

  border-radius: 70%;
  /* Make the button circular */
  transition: transform 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  /* Include border-color in the transition */

}

#ImageButton3:hover {
  transform: scale(1.1);
  /* Increase size on hover */
  box-shadow: 0 0 30px 10px green;
  /* Dark green glow effect */

}


#ImageButton4 {
  position: absolute;
  top: 41vh;
  left: 21vw;
  width: 7vw;
  /* Adjust this percentage as needed */
  height: 7vh;

  border-radius: 70%;
  /* Make the button circular */
  transition: transform 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  /* Include border-color in the transition */
}

#ImageButton4:hover {
  transform: scale(1.1);
  /* Increase size on hover */
  box-shadow: 0 0 30px 10px green;
  /* Dark green glow effect */

}


#ImageButton5 {
  position: absolute;
  top: 48vh;
  left: 0vw;
  width: 7vw;
  /* Adjust this percentage as needed */
  height: 7vh;

  border-radius: 70%;
  /* Make the button circular */
  transition: transform 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  /* Include border-color in the transition */
}

#ImageButton5:hover {
  transform: scale(1.1);
  /* Increase size on hover */
  box-shadow: 0 0 30px 10px green;
  /* Dark green glow effect */
}

#ImageButton6 {
  position: absolute;
  top: 48vh;
  left: 7.1vw;
  width: 7vw;
  /* Adjust this percentage as needed */
  height: 7vh;

  border-radius: 70%;
  /* Make the button circular */
  transition: transform 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  /* Include border-color in the transition */

}

#ImageButton6:hover {
  transform: scale(1.1);
  /* Increase size on hover */
  box-shadow: 0 0 30px 10px green;
  /* Dark green glow effect */
}

#ImageButton7 {
  position: absolute;
  top: 48vh;
  left: 14.5vw;
  width: 6vw;
  /* Adjust this percentage as needed */
  height: 7vh;

  border-radius: 70%;
  /* Make the button circular */
  transition: transform 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  /* Include border-color in the transition */
}

#ImageButton7:hover {
  transform: scale(1.1);
  /* Increase size on hover */
  box-shadow: 0 0 30px 10px green;
  /* Dark green glow effect */
}

#ImageButton8 {
  position: absolute;
  top: 48vh;
  left: 21vw;
  width: 6vw;
  /* Adjust this percentage as needed */
  height: 7vh;

  border-radius: 70%;
  /* Make the button circular */
  transition: transform 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  /* Include border-color in the transition */
}

#ImageButton8:hover {
  transform: scale(1.1);
  /* Increase size on hover */
  box-shadow: 0 0 30px 10px green;
  /* Dark green glow effect */
}



#ImageButton9 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 57vh;
  left: 1.5vw;
  width: 6vw;
  height: 10vh;
  transition: transform 0.3s ease;


}





#ImageButton10 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 68.5vh;
  left: 1.5vw;
  width: 6vw;
  height: 10vh;
  transition: transform 0.3s ease;
}



#ImageButton11 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 71.5vh;
  left: 8.5vw;
  width: 6vw;
  height: 7vh;

  transition: transform 0.3s ease;
}

#ImageButton12 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 63.5vh;
  left: 8.5vw;
  width: 6vw;
  height: 7vh;
  transition: transform 0.3s ease;
}

#ImageButton13 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 56vh;
  left: 8.5vw;
  width: 6vw;
  height: 7vh;
  transition: transform 0.3s ease;
}


#ImageButton14 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 71.5vh;
  left: 15.5vw;
  width: 6vw;
  height: 7vh;
  transition: transform 0.3s ease;
}

#ImageButton15 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 63.5vh;
  left: 15.5vw;
  width: 6vw;
  height: 7vh;
  transition: transform 0.3s ease;
}

#ImageButton16 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 56vh;
  left: 15.5vw;
  width: 6vw;
  height: 7vh;
  transition: transform 0.3s ease;
}

#ImageButton17 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 71.5vh;
  left: 22.4vw;
  width: 6vw;
  height: 7vh;
  transition: transform 0.3s ease;
}

#ImageButton18 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 63.5vh;
  left: 22.4vw;
  width: 6vw;
  height: 7vh;
  transition: transform 0.3s ease;
}

#ImageButton19 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 56vh;
  left: 22.4vw;
  width: 6vw;
  height: 7vh;
  transition: transform 0.3s ease;
}

#ImageButton20 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 71.5vh;
  left: 30vw;
  width: 6vw;
  height: 7vh;
  transition: transform 0.3s ease;
}

#ImageButton21 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 63.5vh;
  left: 30vw;
  width: 6vw;
  height: 7vh;
  transition: transform 0.3s ease;
}

#ImageButton22 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 56vh;
  left: 30vw;
  width: 6vw;
  height: 7vh;
  transition: transform 0.3s ease;
}

#ImageButton23 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 71.5vh;
  left: 37vw;
  width: 6vw;
  height: 7vh;
  transition: transform 0.3s ease;
}

#ImageButton24 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 63.5vh;
  left: 37vw;
  width: 6vw;
  height: 7vh;
  transition: transform 0.3s ease;
}

#ImageButton25 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 56vh;
  left: 37vw;
  width: 6vw;
  height: 7vh;
  transition: transform 0.3s ease;
}

#ImageButton26 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 71.5vh;
  left: 44vw;
  width: 6vw;
  height: 7vh;
  transition: transform 0.3s ease;
}

#ImageButton27 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 63.5vh;
  left: 44vw;
  width: 6vw;
  height: 7vh;
  transition: transform 0.3s ease;
}

#ImageButton28 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 56vh;
  left: 44vw;
  width: 6vw;
  height: 7vh;
  transition: transform 0.3s ease;
}

#ImageButton29 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 71.5vh;
  left: 51vw;
  width: 6vw;
  height: 7vh;
  transition: transform 0.3s ease;
}

#ImageButton30 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 63.5vh;
  left: 51vw;
  width: 6vw;
  height: 7vh;
  transition: transform 0.3s ease;
}

#ImageButton31 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 56vh;
  left: 51vw;
  width: 6vw;
  height: 7vh;
  transition: transform 0.3s ease;
}

#ImageButton32 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 71.5vh;
  left: 58vw;
  width: 6vw;
  height: 7vh;
  transition: transform 0.3s ease;
}

#ImageButton33 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 63.5vh;
  left: 58vw;
  width: 6vw;
  height: 7vh;
  transition: transform 0.3s ease;
}

#ImageButton34 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 56vh;
  left: 58vw;
  width: 6vw;
  height: 7vh;
  transition: transform 0.3s ease;
}

#ImageButton35 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 71.5vh;
  left: 65vw;
  width: 6vw;
  height: 7vh;
  transition: transform 0.3s ease;
}

#ImageButton36 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 63.5vh;
  left: 65vw;
  width: 6vw;
  height: 7vh;
  transition: transform 0.3s ease;
}

#ImageButton37 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 56vh;
  left: 65vw;
  width: 6vw;
  height: 7vh;
  transition: transform 0.3s ease;
}

#ImageButton38 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 71.5vh;
  left: 72vw;
  width: 6vw;
  height: 7vh;
  transition: transform 0.3s ease;
}

#ImageButton39 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 63.5vh;
  left: 72vw;
  width: 6vw;
  height: 7vh;
  transition: transform 0.3s ease;
}

#ImageButton40 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 56vh;
  left: 72vw;
  width: 6vw;
  height: 7vh;
  transition: transform 0.3s ease;
}

#ImageButton41 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 71.5vh;
  left: 79vw;
  width: 6vw;
  height: 7vh;
  transition: transform 0.3s ease;
}

#ImageButton42 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 63.5vh;
  left: 79vw;
  width: 6vw;
  height: 7vh;
  transition: transform 0.3s ease;
}

#ImageButton43 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 56vh;
  left: 79vw;
  width: 6vw;
  height: 7vh;
  transition: transform 0.3s ease;
}

#ImageButton44 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 71.5vh;
  left: 86vw;
  width: 6vw;
  height: 7vh;
  transition: transform 0.3s ease;
}

#ImageButton45 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 63.5vh;
  left: 86vw;
  width: 6vw;
  height: 7vh;
  transition: transform 0.3s ease;
}

#ImageButton46 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 56vh;
  left: 86vw;
  width: 6vw;
  height: 7vh;
  transition: transform 0.3s ease;
}


#ImageButton47 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 79vh;
  left: 8.5vw;
  width: 27.5vw;
  height: 5vh;
  transition: transform 0.3s ease;
}

.image-button {
        position: absolute;
        width: 8vw; /* Adjust this percentage as needed */
        height: 8.5vh;
        border-radius: 50%; /* Make the button circular */
        transition: transform 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease; /* Include border-color in the transition */
    }

    .hover-effect {
        transform: scale(1.1); /* Increase size on hover */
        box-shadow: 0 0 30px 5px greenyellow; /* Dark green glow effect */
    }

#ImageButton48 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 79vh;
  left: 36.5vw;
  width: 27.5vw;
  height: 5vh;
  transition: transform 0.3s ease;
}

#ImageButton49 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 79vh;
  left: 64.5vw;
  width: 27.5vw;
  height: 5vh;
  transition: transform 0.3s ease;
}


#ImageButton50 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 85.5vh;
  left: 11.7vw;
  width: 15vw;

  height: 5vh;
  transition: transform 0.3s ease;
}

#ImageButton51 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 85.5vh;
  left: 28vw;
  width: 10vw;

  height: 5vh;
  transition: transform 0.3s ease;
}

#ImageButton52 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 85.5vh;
  left: 39vw;
  width: 10vw;

  height: 5vh;
  transition: transform 0.3s ease;
}

#ImageButton53 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 85.5vh;
  left: 51vw;
  width: 10vw;

  height: 5vh;
  transition: transform 0.3s ease;
}

#ImageButton54 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 85.5vh;
  left: 62vw;
  width: 10vw;

  height: 5vh;
  transition: transform 0.3s ease;
}

#ImageButton55 {
  position: absolute;
  /* This positions the button relative to its containing element */
  top: 85.5vh;
  left: 74vw;
  width: 15vw;

  height: 5vh;
  transition: transform 0.3s ease;
}

#ImageButton56 {
  position: absolute;
  top: 56vh;
  right: 1vw;
  width: 6.5vw;

  height: 7vh;
  transition: transform 0.3s ease;
}

#ImageButton57 {
  position: absolute;
  top: 64vh;
  right: 1vw;
  width: 6.5vw;

  height: 7vh;
  transition: transform 0.3s ease;
}

#ImageButton58 {
  position: absolute;
  top: 71.5vh;
  right: 1vw;
  width: 6.5vw;

  height: 7vh;
  transition: transform 0.3s ease;
}

#Label11 {
  top: 500px;
  left: 10px;
  margin-top: 0px;
}





.title {
  position: absolute;
  top: 0vh;
  left: 32%;
  width: 36vw;
  height: 10vh;
  border-radius: 20px;

}


.diamond {
  position: absolute;
  top: 28vh;
  left: 47.6vw;
  width: 6vw;
}


body {
  margin: 0;
  padding: 0;
  background-image: url('Images/BackgroundImage1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*Optional: keeps the background image fixed while scrolling */
  background-size: 100% 100%;
  overflow: hidden;
  /* Prevents the scrollbar */
}

.content {
  text-align: center;
  padding: 50px;
  color: white;

}




.wheel {
  position: absolute;
  top: 15vh;
  left: 41vw;
  width: 20vw;
  height: 40vh;



}


.rotate-wheel {
  animation: rotateAnimation 10s linear forwards;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
    /* Start spinning from 0 degrees */
  }

  to {
    transform: rotate(1800deg);
    /* Spin to 720 degrees (2 full rotations) */
  }
}

/* Adjust the top/left/right position of the wheel */
@media (min-width: 768px) {
  .wheel-container {
    top: 20%;
    left: 20%;
  }
}

/* Define the spin animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

.image-overlay {
  position: absolute;
  pointer-events: none; /* So that the overlay does not interfere with button clicks */
  z-index: 10; /* Ensure the overlay appears on top of other elements */
}

/* Style for the overlay image */
.overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5; /* Adjust the opacity as needed */
  z-index: 1; /* Ensure the image is above the button */
}

/* Style for the button */
.image-button {
  position: relative;
}

/* Additional styling for the button when hovered */
.image-button.hover-effect {
  background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background color */
}
